<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <br>
        <a class="btn-floating btn-large waves-effect waves-light" href="<%= new_note_path %>">
          <i class="material-icons">add</i>
        </a>
        <span>Create a note</span>
      </div>
    </div>

    <% if @notes.empty? %>
      <p>There is not notes.</p>
    <% else %>
      <% @notes.each do |note| %>
        <div class="row">
          <div class="col s12">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                <span class="card-title"><%= h(note.title) %></span>
                <p><%= simple_format(h(note.content)) %></p>
              </div>

              <div class="card-action">
                <%= render 'shared/action_buttons', locals: { note: note } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
